# Ignore intermediate files
Binaries/
DerivedDataCache/
Intermediate/
Saved/

# Ignore Visual Studio files
.vs/
.vscode/
*.code-workspace

# Ignore config files
*.user
*.userprefs
*.suo
*.sdf
*.sln
*.vcxproj
*.vcxproj.filters

# Ignore backup and temp files
*.bak
*.swp

# Ignore compiled binaries
*.exe
*.dll

# Ignore 3rdParty content
StarterContent/
BlockGame/
Hour_of_Code/
LearningKit*/
Paragon*/